# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
.venv/

# IDE and OS stuff
.idea/
.vscode/
.DS_Store

# Optional: logs, configs, secrets
*.log
.env

env*
env/
env/*
env.py